{% extends 'welcomeclient.html' %}

{% block 'nav' %}
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12 py-3 logo">
					<img src="/static/images/cptl.png" alt="" id="cptl"> </br>
					<label class="l1 logo_text_decoration lg">Capital</label>
					<label class="l2 logo_text_decoration lg">Insurance</label>
					
				</div>
				
			</div>
		</div>
	</div>

		<nav class="col-md-12 nav pt-1 mt-2 bg-light menu  " style="width: 100%;" data-spy="affix" data-offset-top="197">
			<a href="/client/home/" class="nav-link">Home</a>
			<a href="#services" class="nav-link">Services</a>
			<a href="#about" class="nav-link">About Us</a>
			<a href="#" class="nav-link" data-toggle="modal" data-target="#contactmodal">Contact Us</a>
	
			<!--<a href="/login/"  class="nav-link">Login</a>-->
			<!--<a href="/signup/"  class="nav-link">New user ?</a>-->
			<div class="dropdown" id="drop">
				<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
				  {{request.user}}
				</button>
				<div class="dropdown-menu">
				  <a class="dropdown-item" href="#">My Account</a>
				  <a class="dropdown-item" href="#">History</a>
				  <a class="dropdown-item" href="/logout/">Logout</a>
				</div>
			  </div>
		</nav>

		{% endblock  %}

    {% block 'carousel' %}
    {% endblock %}

    {% block 'insurance' %}
    <div class="container mt-5 mb-5">
    <h1>Travel Insurance Registration Form</h1>
    <form method="POST" onsubmit="return validateData()">
      {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputaddr1">Travelling To </label>
          <input type="text" class="form-control" id="travel" aria-describedby="emailHelp" placeholder="Travelling To" name="travel">
          <small id="travelerror" class="form-text text-muted">We'll never share your details with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputaddr2">Start Date</label>
            <input type="text" class="form-control" id="start" aria-describedby="emailHelp" placeholder="Enter Start Date" name="start">
            <small id="starterror" class="form-text text-muted">We'll never share your details with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputaddr1">End Date</label>
            <input type="text" class="form-control" id="end" aria-describedby="emailHelp" placeholder="Enter End Date" name="end">
            <small id="enderror" class="form-text text-muted">We'll never share your details with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputaddr1">No. Of passengers Travelling</label>
            <input type="text" class="form-control" id="no" aria-describedby="emailHelp" placeholder="Enter No. Of passengers Travelling" name="nmbr">
            <small id="noerror" class="form-text text-muted">We'll never share your details with anyone else.</small>
          </div>
        
        <a href="/client/order/"><button type="submit" class="btn btn-primary">Submit</button></a>
      </form>
    </div>
    <script>
      function validateData(){
        var travel = document.getElementById("travel").value;
        var start = document.getElementById("start").value;
        var end = document.getElementById("end").value;
        var no = document.getElementById("no").value;


        if(travel.length==0){
          document.getElementById("travelerror").innerHTML = "please fill this field";
          return false;
        }

        else if(!isNaN(travel)){
          document.getElementById("addrerror").innerHTML = "only text are allowed";
          return false;
        }

        if(start.length==0){
          document.getElementById("addr2error").innerHTML = "please fill this field";
          return false;
        }

        else if(isNaN(start)){
          document.getElementById("addr2error").innerHTML = "only correct date are allowed";
          return false;
        }

        if(end.length==0){
          document.getElementById("enderror").innerHTML = "please fill this field";
          return false;
        }

        else if(isNaN(end)){
          document.getElementById("enderror").innerHTML = "only correct date are allowed";
          return false;
        }

        if(no.length==0){
          document.getElementById("noerror").innerHTML = "please fill this field";
          return false;
        }

        else if(isNaN(no)){
          document.getElementById("noerror").innerHTML = "only numbers are allowed";
          return false;
        }

        

      }
    </script>
    
    {% endblock %}